// override bootstrap
$base-header-background-color : #004494;

$border-radius-base : 2px;
$border-radius-large: 2px;
$border-radius-small: 2px;

/* Light => Dark */
$theme-color-1 : #0284A6;
$theme-color-2 : #1F8A70;
$theme-color-3 : #BEDB39;
$theme-color-4 : #FACF31;
$theme-color-5 : #FD7400;

$highlight-text-color :  #FD7400;

$body-bg : $theme-color-1;

// buttons
$brand-primary: $base-header-background-color;

$bootstrap-sass-asset-helper: false !default;
$font-path:      "/fonts/";
$icon-font-path: if($bootstrap-sass-asset-helper, "/", "../fonts/");


//$font-family-sans-serif:  "Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-sans-serif: "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif;

$font-size-base: 12px;
