// news list pgae
.news-list {
    background: $theme-color-3;
    .news-list-header {
        position: fixed;
        top: 0;
        left: 0;
        background: #f8f8f8;
        width: 100%;
        text-align: center;
        z-index: 100;
        border-bottom: 1px solid #eee;
    }
    .news-list-content {
        @extend .container;
        h2 {
            text-align: center;
        }
        ul {
            margin: 0;
            padding: 0;
            li {
                padding: 1rem;
                margin: 1rem 0;
                list-style: none;
                background: #fff;
                border-radius: 4px;
                color: #333333;
                font-size: 1.5rem;
                a {
                    text-decoration: none;
                    color: inherit;
                    time {
                        color: $theme-color-5;
                        font-weight: 600;
                    }
                    header {
                        font-size: 1.5em;
                        font-weight: 500;
                        text-transform: none;
                        color: $theme-color-1;
                        margin: .5rem 0;
                    }
                    img {
                        max-width: 100%;
                        margin-bottom: .5em;
                        margin-top: .5em;
                    }
                    p {
                        margin: .5rem 0;
                    }
                }
                footer {
                    color: $theme-color-5;
                    font-size: 1rem;
                    border-top: solid 1px $theme-color-5;
                    margin-top: 20px;
                    padding-top: 10px;
                    a {
                        margin: 5px;
                        text-decoration: none;
                        font-size: 1.5rem;
                        color: $theme-color-1;
                        .glyphicon {
                            color: $theme-color-1;
                        }
                        &:hover {
                            color: $theme-color-5;
                        }
                    }
                }
            }
        }
    }
}

// The news on the front page
section {
    &.award {
        text-align: center;
        margin-top: -60px;
        a {
            img {
                max-width: 100%;
            }
        }
    }
    &.news {
        font-size: 1.5em;
        font-weight: 400;
        a {
            float: left;
            color: #333333;
            width: 100%;
            text-decoration: none;
            margin-top: 10px;
            margin-bottom: 10px;
            >.news-item {
                margin: 4px;
                padding: 8px;
                background: inherit;
                min-height: 200px; //border-left: solid 2px @theme-color-1;
                &:hover {
                    background: inherit;
                }
                h4 {
                    color: $theme-color-1;
                    font-size: 1.5em;
                }
                img {
                    display: none;
                }
            }
        }
        padding-top: 0;
    }
}

// one news article
.news-article {
    font-size: 1em;
    .news-article-page-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        font-size: 2.5em;
        font-weight: 500;
        color: $theme-color-1;
        background-color: #fff;
        text-align: center;
        padding-top: 0;
        margin-top: 0;
        border-bottom: 1px solid #eee;
        z-index: 100;
    }
    .news-article-body {
        @extend .container;
    }
    article {
        border-radius: 4px;
        font-size: 1.2em;
        margin: 10px;
        background: #f8f8f8;
        color: #333333;
        padding: 20px;
        overflow: auto;
        time {
            color: $theme-color-5;
            font-weight: 600;
        }
        header {
            font-size: 1.5em;
            text-transform: none;
            color: $theme-color-1;
        }
        img {
            max-width: 100%;
            margin-bottom: .5em;
            margin-top: .5em;
        }
        footer {
            margin-top: 20px;
            border-top: solid 1px $theme-color-5;
            nav {
                margin-top: 1rem;
                display: block;
                &:first-child {
                    float: left;
                }
                &:last-child {
                    float: right;
                }
                a {
                    margin: 5px;
                    text-decoration: none;
                    font-size: 1.5rem;
                    color: $theme-color-1;
                    .glyphicon {
                        color: $theme-color-1;
                    }
                    &:hover {
                        color: $theme-color-5;
                    }
                }
            }
        }
    }
}

@media (min-width: 48em) {
    section {
        &.news {
            a {
                width: 50%;
            }
        }
    }
}
