
section {
  
    // & > *+* { 
    //   margin-top: 1rem 
    // }

    margin-left:0px;
    margin-right:0px;

    &.input-news {
        background: $theme-color-3;
        padding-bottom: 30px;
    }
    
    &.about {        
        background: $theme-color-1;
        padding-bottom: 30px;
    }    
    
    &.culture {
        background: $theme-color-3;
        padding-bottom: 30px;
    }
    
    &.services {
        background: $theme-color-1;
        padding-bottom: 30px;
    }
    
    &.input-crew {
        background: $theme-color-3;
        padding-bottom: 30px;
    }
    
    &.input-sales-team {
        background: $theme-color-4;
        padding-bottom: 30px;
    }
    
    &.contact-us {
        background: $theme-color-4;
        padding-bottom: 30px;
    }

    article {
      font-weight: 400;
    
      h1 {
        font-weight: 600;
        text-transform: uppercase;
        text-align: left;
        margin-bottom: 20px;
    
        text-align: center;
        @include breakpoint(sm) {
          text-align: left;
        }
    
      }
    
      h3 {
        @include font-size(16);
        @include breakpoint(sm) {
          @include font-size(18);
        }
      }
    
    }        
    
}

// jobs on the home page
section[class="jobs"] {
  padding-top: 0;
  background: $theme-color-1;
}

.jobs-photo {
  background: #9299a4;
  background-image: url(/img/team-input-5.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover !important
}
