.jobs-article {
    @extend .page;

//    background: $theme-color-3;
    height: 100%;
    overflow: overlay;

    .jobs-article-header {
        @extend .page-header;

        a:first-child {
          float: left;
        }
        a:last-child {
            float: right;
        }
    }

    .jobs-article-body {
      @extend .page-content;
      
      article {
        h2 {
          color: $theme-color-5;
        }
      }

    }

}
