.article-popup {
    
    font-size: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    z-index: 999;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    padding-top: 50px !important;
        
    -webkit-background-size: cover; 
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 20;
    
    &::after {
        content: attr(bg);
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;          
       -webkit-filter: blur(2px); 
        -moz-filter: blur(2px); 
        filter: blur(2px);         
    }
    
        
    .popup-header {
        position: absolute;
        top: 0;
        background: #f8f8f8;
        width: 100%;
        text-align: center;        
    }

    article {

        height: 100% !important;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        color: #333333;

        .profile {
            height: 100%;
            padding: 0 10px 0 1.563em;
            float: right;
            overflow-y: auto;

            .content {
                width: 99.9%;
                display: inline-block;
                vertical-align: middle;
                
                h1 {
                    color:#333333;
                    font-size: 1.5em;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-align: left;
                    margin-bottom: 20px;
                    text-align: center;
                }
                
                h4 {
                    color : #f8f8f8;
                }

                &.content:before {
                  content: '';
                  display: inline-block;
                  height: 100%;
                  vertical-align: middle;
                  margin-left: -0.25em;                
                }
                    
                .text-block {
                    padding: 20px;;
                    border-radius: 4px;
                    
                    p {
                        font-size: 1.2em;
                    }
                    
                    blockquote {
                        color : #333333;
                        font-size: 1em;
                        font-style: normal;
                        background: #fff;
                        border: none;
                        margin-bottom : 3em;
                        border-radius: 4px;
                        
                        h5 {
                            margin-top: 30px;
                        }

                        p {
                            font-style: italic;
                            color : #333333;
                            padding: 0;
                        }
                        
                    }
                    
                }

            }

        }
        
    }
    
    nav {
        button {
            position: absolute;
            right: -0.063em;
            top: 0;
            display: block;
            height: 5em;
            width: 5em;
            background: #f8f8f8;
            border: none;
            padding-top: 0.438em;
            margin-right: 0;
            color: $theme-color-1;
            
            &:focus {
                outline: none;
                border: none;
            }

            span {
                color:  $theme-color-1 !important;
                font-size: 20px;
            }
        }
    }
}


@media (min-width: 768px) {
    .article-popup {
        article {
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
            
            .profile {
                .content {
                    h1 {
                        font-size: 1em;
                    }
                }
            }
            
        }
    }
}

@media (min-width: 992px) {
    .article-popup {
        article {
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            
            .profile {
                .content {
                    h1 {
                        font-size: 1.5em;
                    }
                }
            }
            
        }
    }
}

@media (min-width: 1200px) {
    .article-popup {
        article {
            width: 70%;
            margin-left: 15%;
            margin-right: 15%;
        }
    }
}