.clickables {
    
    .modal {
        
        padding: 0 !important;
        
        .modal-dialog {
          width: 100% !important;
          margin: 0px auto !important;
          height : 100%;
        }
    }

    .btn {
      width: 100%;
      float: none;
      margin: .5rem .5rem;

      @include breakpoint(sm) {
        width: 31.33%;
        float: left;
      }

    }
    
}
