// The news on the front page
section {
    &.award {
        text-align: center;
        margin-top: -60px;
        a {
            img {
                max-width: 100%;
            }
        }
    }
    &.news {
        font-weight: 400;
        a {
            float: left;
            color: #333333;
            width: 100%;
            text-decoration: none;
            margin-top: 10px;
            margin-bottom: 10px;
            >.news-item {
                margin: 4px;
                padding: 8px;
                background: inherit;
                min-height: 200px; 
//                border-left: solid 2px $theme-color-1;

                h4 {
                    color: $theme-color-1;
                    margin-bottom: 1.5rem;
                }

                h5 {
                  color: $theme-color-5;
                }
                
                img {
                    display: none;
                }
            }
        }
        padding-top: 0;
    }
}

@media (min-width: 48em) {
    section {
        &.news {
            a {
                width: 50%;
            }
        }
    }
}
