.news-article {
  @extend .page;

  background: $theme-color-3;

  .news-article-header {
      @extend .page-header;

      a:first-child {
        float: left;
      }
      a:last-child {
          float: right;
      }
  }

  .news-article-body {
    @extend .page-content;
    
  }

}
