/*@footer-background:  #FCF6EC;
@footer-text-color :   #0081a3;
@footer-header-color : #576674;*/
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html,
a {
  color: #576674;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #758694;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #0081a3;
}
body,
input,
textarea,
button {
  font-family: "Source Sans Pro", Sans-Serif;
  font-size: 110%;
}
h3,
h1,
h2,
h3,
h4,
h5,
h6,
header {
  font-family: "Raleway", Sans-Serif;
  font-weight: 300;
  margin: 0 0 0.25em 0;
}
h3,
h2,
h3,
h4,
h5,
h6,
header {
  font-weight: 600;
}
blockquote {
  font-family: Garamond, "Apple Garamond", "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}
a {
  text-decoration: underline;
}
a:hover {
  color: #0081a3;
  text-decoration: none;
}
p a,
p a:visited {
  line-height: inherit;
}
h2 a:hover,
h3 a:hover {
  text-decoration: none;
}
a img {
  border: none;
  text-decoration: none;
}
a:hover,
a:active,
a,
object,
embed,
*:focus {
  -moz-outline-style: none;
  outline: none!important;
  /*remove dotted border */
}
/* Don't collapse these into one ruleset. When a browser doesn't 
recognise a selector it discards the whole ruleset. 
By using vendor selectors in one ruleset you guarentee 
nothing will be applied */
::-webkit-selection {
  background-color: #758694;
  color: #fff;
}
::-moz-selection {
  background-color: #758694;
  color: #fff;
}
::selection {
  background-color: #758694;
  color: #fff;
}
a.tele {
  /*turn off telephone link on desktop */
  text-decoration: none;
  cursor: text;
  pointer-events: none;
  color: inherit!important;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  font-style: italic;
  font-size: .9em;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-style: italic;
  font-size: .9em;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-style: italic;
  font-size: .9em;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-style: italic;
  font-size: .9em;
}
/* Typography Resets & Settings
================================================== */
h1 {
  font-size: 220%;
}
h2 {
  font-size: 200%;
}
h3 {
  font-size: 160%;
}
h4 {
  font-size: 130%;
}
h5 {
  font-size: 120%;
}
h6 {
  font-size: 110%;
}
/*  webkit fix
================================================== */
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="tel"],
input[type="url"] {
  -webkit-appearance: textfield;
}
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="tel"],
input[type="url"] {
  background: #f5f5f5;
  float: left;
  outline: none;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 3px;
  vertical-align: middle;
  border-color: #ddd;
  box-shadow: 1px 1px 0 #fff;
  position: relative;
  min-height: 38px;
  padding: 4px 20px 4px .25em;
  font-size: 1.2em;
}
input[type="button"],
input[type="submit"] {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  color: #ffffff;
  font-size: 1em;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
  border: solid #1f628d 1px;
}
input[type="button"]:hover,
input[type="submit"]:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
/* Site specifics
================================================== */
body {
  -webkit-transition: font-size 0.5s ease-in-out;
  -moz-transition: font-size 0.5s ease-in-out;
  -o-transition: font-size 0.5s ease-in-out;
  transition: font-size 0.5s ease-in-out;
  color: #6f6f6f;
  background-color: #FFFFFF;
}
/* every second element, start with the third */
section:nth-child(2n+3) {
  background: #f6f8f8;
}
/* article styling */
article {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
  transition-duration: .8s;
  margin: 10px 1%;
  padding: 1%;
  font-size: 100%;
  line-height: 1.4em;
}
article p {
  -webkit-transition-property: 0 opacity;
  -moz-transition-property: 0 opacity;
  transition-property: transform, opacity;
  -webkit-transition-duration: .8s;
  -moz-transition-duration: .8s;
  transition-duration: .8s;
}
article img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  float: none;
  margin-top: .9em;
  margin-right: .6em;
}
article footer {
  float: right;
}
section,
footer {
  padding: 2.4em 0;
}
section:after,
footer:after {
  content: "";
  display: table;
  clear: both;
}
.headline {
  text-align: center;
  font-size: 80%;
}
.headline h1,
.headline h2,
.headline h3,
.headline h4,
.headline h5,
.headline h6 {
  border: none !important;
}
body section.main {
  padding: 0;
}
body section.main section {
  margin-right: auto;
  margin-left: auto;
  padding-right: 1em;
  padding-left: 1em;
  max-width: 1400px;
}
body section.main section h2 {
  margin-left: 2%;
  color: #758694;
  border-bottom: solid 1px #758694;
}
body nav.menu {
  margin-right: auto;
  margin-left: auto;
  padding-right: 1em;
  padding-left: 1em;
  max-width: 1400px;
}
article header {
  font-size: 130%;
  font-weight: 200;
  background: none;
  color: #0081a3;
  margin-left: 0;
  border: none;
}
article header a {
  color: #0081a3;
  font-size: 100%;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: -1px;
}
article header a:hover {
  color: #00a9d6;
}
article footer {
  float: none;
  padding: 0;
}
article footer a {
  color: #0081a3;
  font-size: 100%;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: -1px;
}
article footer a:hover {
  color: #00a9d6;
}
/* tablet and up */
@media (min-width: 39em) {
  .headline {
    font-size: 110%;
  }
  .news article,
  .articles article {
    width: 100%;
    float: left;
  }
  .news article header,
  .articles article header {
    font-size: 160%;
  }
  .news article header a,
  .articles article header a {
    font-size: 100%;
  }
  .consultants article {
    float: left;
    width: 48%;
  }
  .consultants article header {
    font-size: 160%;
  }
}
/* desktop and up */
@media (min-width: 59em) {
  .news article,
  .articles article {
    width: 48%;
    float: left;
  }
  .consultants article {
    width: 48%;
    float: left;
  }
}
/* large desktop and up */
@media (min-width: 79em) {
  .consultants article {
    width: 31.22%;
    float: left;
  }
}
@media (min-width: 39em) {
  section,
  footer {
    padding: 2em 0;
  }
}
/*# sourceMappingURL=common.css.map */