<?xml version="1.0" encoding="utf-8"?>

<configuration>
  
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=inputslackintegration;AccountKey=AGjVL4Yg23kEQBj9huo+GwTSaVBvaCkU8MwaJrH659ZlmGQ02Xib1//rWYFOS7qaHxgs9Xg4zLvT2UAxRfyMuA==" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=inputslackintegration;AccountKey=AGjVL4Yg23kEQBj9huo+GwTSaVBvaCkU8MwaJrH659ZlmGQ02Xib1//rWYFOS7qaHxgs9Xg4zLvT2UAxRfyMuA==" />
  </connectionStrings>
  <system.net>
  <defaultProxy useDefaultCredentials="true" />
</system.net>
    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="git-branch" value="master"/>
    <add key="git-owner" value="raketjan"/>
    <add key="git-repo" value="hello-world"/>
    <add key="git-blogpath" value="underfolder/blog/"/>
    <add key="git-baseuri" value="https://api.github.com"/>
    <add key="git-clientid" value="e07ed7abc9fd8a86363c"/>
    <add key="git-clientsecret" value="c4369f41920331ebd29e800e829effb542a2ea71"/>
    <add key="git-token" value="98c5bfcc79f6fa58e4bc9bc31c8b43077cedf611"/>

    <add key="git-filenamestructure" value="blogpost[ts].markdown"/>
    <add key="git-fileprefix" value="blogpost"/>
    <add key="git-commitmessage" value="Blogpost with timestamp [ts] commited from slack."/>

    <add key="slack-channelname" value="inputblogg"/>
    <add key="slack-baseuri" value="https://slack.com/api/"/>
    <add key="slack-token" value="xoxp-2184792639-24104874614-26569341600-71f00f5e20"/>
  </appSettings>
</configuration>