<div style="text-align:center; width:100%;">
    <div style="display:inline-block; width: 23%; font-size: 25px">Management</div>
    <div style="display:inline-block; width: 23%; font-size: 25px">Arkitektur & Metodik</div>
    <div style="display:inline-block; width: 23%; font-size: 25px">Projektledning</div>
    <div style="display:inline-block; width: 23%; font-size: 25px">Systemutveckling</div>
</div>
<div style="text-align:center; width:100%;">
    <div style="display:inline-block; width: 23%; font-size: 15px">här finns info om management</div>
    <div style="display:inline-block; width: 23%; font-size: 15px">här finns info om Arkitektur & Metodik</div>
    <div style="display:inline-block; width: 23%; font-size: 15px">här finns info om Projektledning</div>
    <div style="display:inline-block; width: 23%; font-size: 15px">här finns info om Systemutveckling</div>
</div>