
<div class="quote">
    <div class="quote"style="position: relative; padding-left: 35%; text-align: center;">
        <img src="@Path['~/static/img/logo.png']">
    </div>
    Input Consulting startade 1997 och är ett personalägt IT-konsultföretag i Stockholm med en platt och dynamisk organisation. Vår målsättning är att vara kundernas långsiktiga samarbetspartner genom att leda och stödja deras verksamheter och IT-projekt, utveckla system, utbilda och ge strategisk rådgivning. Input utvecklar också kompletta IT-lösningar som totala åtaganden samt utvecklar och licensierar systemkomponenter till leverantörer inom administration och finansen.<br><br>
    Sedan start har Input visat positiva resultatsiffror varje år och har idag cirka 50 medarbetare. Med ett omfattande och väl inarbetat nätverk av omkring ett 30-tal underleverantörer har vi möjlighet att vid behov komplettera med resurser och specialistkompetens.<br><br>
    Rätt blandning av människor, erfarenheter och kompetenser är några viktiga ingredienser som gör att våra kunder trivs med oss som leverantörer och vill fortsätta samarbetet.<br><br>
    Samtliga konsulter på Input Consulting har lång erfarenhet av systemutveckling och projektledning i avancerade och omfattande utvecklingsprojekt. Kontinuerlig och strukturerad överföring av kunskap till kunderna är en väsentlig del i vårt erbjudande.<br><br>
    Våra koncept, egenskaper och höga kvalitetskrav borgar för framgångsrika projekt där inte bara målen möts i tid inom givna kostnadsramar, utan även kompetens- och kunskapsnivåer säkras hos kunden.</div>

