<div class="navbar navbar-custom navbar-inverse navbar-static-top" id="nav">
    <div class="container">
        <div class="navbar-header">
           <div class="navbar-text">
               <span>Input Consulting</span>    
           </div>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav nav-justified">
                <li><a href="#home"><span class="glyphicon glyphicon-home"></span><div>Hem</div></a></li>
                <li><a href="#about"><span class="glyphicon glyphicon-user"></span><div>Oss</div></a></li>
                <li><a href="#culture"><span class="glyphicon glyphicon-globe "></span><div>Kultur</div></a></li>
                <li><a href="#services"><span class="glyphicon glyphicon-briefcase"></span><div>Tjänster</div></a></li>
                <li><a href="#sales"><span class="glyphicon glyphicon-star-empty"></span><div>Sälj</div></a></li>
                <li><a href="#crew"><span class="glyphicon glyphicon-user"></span><div>Inputtare</div></a></li>
                <li><a href="#contact"><span class="glyphicon glyphicon-envelope"></span><div>Kontakt</div></a></li>
            </ul>
        </div>
    </div>
</div>