<section class="header">
    <nav class="menu">
        <section class="mobile">
            <a id="mobile-menu-action" href="#">&#9776;</a>
        </section>
    </nav>
    <div class="navbar">
        <div class="mobilelogo">
            <div><a href="/"><img src="@Path['~/static/img/logo.png']"></img></a></div>
        </div>
        <div class="desktop">
            <ul>
                <li><a href="#">Om oss</a></li>
                <li><a href="/nyheter">Nyheter</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/jobba-hos-oss">Jobba hos oss</a></li>
                <li><a href="/kontakt">Kontakt</a></li>
                <li><a href="/search">Sök</a></li>
            </ul>
        </div>
    </div>
    <div style="position: relative; height: 250px;">
        <div><img u="image" class="frontpicture" src="@Path['~/static/img/anders.png']" /></div>
    </div>
</section>