<section class="header scrollsection" id="header">
    <nav class="menu">
        <section class="mobile">
            <a id="mobile-menu-action" href="#">&#9776;</a>
        </section>
    </nav>
    <div class="navbar" id="navbar">
        <div class="mobilelogo">
            <div><a href="/"><img src="@Path['~/static/img/logo.png']"></img></a></div>
        </div>
        <div class="desktop">
            <ul>
                <li><a href="#" class="scroll-link" data-id="header">Om oss</a></li>
                <li><a href="#" class="scroll-link" data-id="vara-tjanster">Våra tjänster</a></li>
                <li><a href="#" class="scroll-link" data-id="salj">Sälj</a></li>
                <li><a href="#" class="scroll-link" data-id="inputtare">Inputtare</a></li>
                <li><a href="#" class="scroll-link" data-id="referensuppdrag">Referensuppdrag</a></li>
                <li><a href="#" class="scroll-link" data-id="kontakt">Kontakt</a></li>
            </ul>
        </div>
    </div>
    <div style="position: relative; height: 250px;">
        <div><img u="image" class="frontpicture" src="@Path['~/static/img/anders.png']" /></div>
    </div>
</section>

