{% set title = title + ' - ' + page.title %}
{% extends "_layout/_master.html" %}

{% block body %}
<section class="full-page input-news">

    <div class="container with logo">
        <a href="/">
            <img src="/img/logo/logo_3.png" alt="">
        </a>
    </div>

    <section class="full-page input-news">
        <section class="container single-article">
            <article>
                <time>{{ page.date | date}}</time>
                <header>{{ page.title }}</header>
                {{ page.body | md }}
                <footer>
                    <nav>
                        <a href="/"><span class="glyphicon glyphicon-home"></span> Startsidan</a>
                        <a href="/nyheter"><span class="glyphicon glyphicon-th-list"></span> Mer nyheter</a>            
                    </nav>
                    <nav>
                        {% include "_layout/_includes/_share-article-linkedin.html" %}
                        {% include "_layout/_includes/_share-article-twitter.html" %}
                        {% include "_layout/_includes/_share-article-facebook.html" %}                        
                    </nav>
                </footer>
            </article>
        </section>                
    </section>

</section>
{% endblock %}
