@Master['_layout/master-page.html']

@Section['MainContent']

<div class="post">
<section class="headline">
    @Model.Meta.Headline.Abstract
</section>
</div>

<div class="post">
    <section class="alla-inputtare scrollsection" id="alla-inputtare">
        @Partial['_layout/partial/partial-inputtare.html', Model.Meta.Inputtare];
    </section>
</div>

<div class="post">
<section class="news scrollsection">
    <h2>Aktuellt</h2>
    @Partial['_layout/partial/partial-home-artiklar.html', Model.Meta.Articles];
</section>
</div>

<div class="post">
<section class="articles scrollsection">
    @Partial['_layout/partial/partial-home-artiklar.html', Model.Meta.ArticlesOne];
</section>
</div>

<div class="post">
<section class="articles scrollsection">
    @Partial['_layout/partial/partial-home-artiklar.html', Model.Meta.ArticlesTwo];    
</section>
</div>
@EndSection
