@Master['_layout/master-page.html'] 

@Section['MainContent']

    @Partial['_layout/home/home-section-input-news.html'];
    @Partial['_layout/home/home-section-about-us.html'];
    
    <section class="team-input-1">
      <div class="col-sm-6 col-sm-offset-3 text-center"></div>
    </section>

    @Partial['_layout/home/home-section-culture.html'];

    <section class="team-input-2">
      <div class="col-sm-6 col-sm-offset-3 text-center"></div>
    </section>

    @Partial['_layout/home/home-section-services.html'];
    @Partial['_layout/home/home-section-input-sales-team.html'];

    <section class="team-input-3">
      <div class="col-sm-6 col-sm-offset-3 text-center"></div>
    </section>

    @Partial['_layout/home/home-section-input-crew.html'];
    @Partial['_layout/home/home-section-contact-us.html'];

@EndSection
