<!doctype html>
<html class="no-js" lang="en" itemscope itemtype="http://schema.org/Product">
<head>
    <title>Input Consulting AB</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="title" content="Input Consulting" />
    <meta name="description" content="Input Consulting Stockholm AB" />
    <meta name="author" content="Input Consulting" />
    <meta name="Copyright" content="Input Consulting" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    @Model.PublicCss
</head>
<body>
        <section class="main">

            @Partial['_layout/partial-menu.html', Model.Meta];
            @Section['MainContent'];
            @Partial['_layout/partial-footer.html', Model.Meta];

        </section>

        @Partial['_layout/partial-mobile-menu.html', Model.Meta];

    @Model.PublicJavaScript

</body>
</html>