<html>
<header>

    <style rel="stylesheet" type="text/css">
    section {
        max-width: 20em;
        margin-right: auto;
        margin-left: auto;
    }
    ul {
        list-style: none;
    }
    li {
        width: 48%;
        min-width: 4em;
        max-width: 4em;
        min-height: 4em;
        max-height: 4em;
        float: left;
        background: rgba(128, 128, 128, 0.5);
        margin: 1%;
        text-align: center;
    }
    .s {
        background: red;
    }
    .x {
        background: green;
    }
    </style>

</header>

<body>

    <section>
        <ul>
            <li>A</li>
            <li>B</li>
            <li>A</li>
            <li>B</li>
            <li>D</li>
            <li>E</li>
            <li>D</li>
            <li>E</li>
        </ul>
        <button id="reset">Reset</button>
    </section>

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script>
    (function(d) {
        d.fn.shuffle = function(c) {
            c = [];
            return this.each(function() {
                c.push(d(this).clone(true))
            }).each(function(a, b) {
                d(b).replaceWith(c[a = Math.floor(Math.random() * c.length)]);
                c.splice(a, 1)
            })
        };
        d.shuffle = function(a) {
            return d(a).shuffle()
        }
    })(jQuery);

    $(function() {
        $("#reset").click(function() {
            $("li").removeClass("s x").shuffle();
        });

        $("li").click(function() {
            var cs = $("li.s");
            if (cs.length < 2) {
                $(this).addClass("s");
            }
            cs = $("li.s");
            if (cs.length == 2) {
                if (cs.get(0).innerHTML === cs.get(1).innerHTML) {
                    setTimeout(function() {
                        cs.removeClass("s").addClass("x");
                        if ($("li.x").length === $("li").length) {
                            $("li").fadeOut().removeClass("s x").fadeIn();
                        }
                    }, 300);
                } else {
                    setTimeout(function() {
                        cs.removeClass("s");
                    }, 300);
                }
            }
        });
    });
    </script>
</body>

</html>