@Master['_layout/master-news-page.html'] 

@Section['MainContent']

    <section class="input-news">

        <section class="container list-of-news">
            <header>Aktuellt på Input</header>
                        
            @Each.Model.Meta.Articles
            <article>
               <a href="/@Current.ResourceName">
                    <time>@Current.FriendlyDate</time>
                    <header>@Current.Title</header>
                    @Current.Abstract
               </a>
             </article>
             @EndEach
            <div class="divider"></div>
        </section>

    </section>

@EndSection