{% set title = title + ' - Nyheter ' %}
{% extends "_layout/_master.html" %}

{% block body %}
<section class="full-page input-news">

    <div class="container with logo">
        <a href="/">
            <img src="/img/logo/logo_3.png" alt="">
        </a>
    </div>

    <section class="full-page container list-of-news">
        <header>Aktuellt på Input</header>
        {% for page in pages %}
        <article>
        <a href="{{ page.route }}">
                <time>{{ page.date | date }}</time>
                <header>{{ page.title }}</header>
                {{ page.body | md | truncate(200, true, ' ...') }}
        </a>
            <footer>
                <a href="{{ page.route }}">Läs mer <span class="glyphicon glyphicon-play"></span></a>
            </footer>
        </article>
        {% endfor  %}
        <div class="divider"></div>
    </section>

</section>
{% endblock %}