@Master['_layout/master-news-page.html'] 

@Section['MainContent']

<section class="full-page container list-of-news">
    <header>Aktuellt på Input</header>
    @Each.Model.Meta.Articles
    <article>
       <a href="/@Current.ResourceName">
            <time>@Current.FriendlyDate</time>
            <header>@Current.Title</header>
            @Current.Abstract
       </a>
        <footer>
            <a href="/@Current.ResourceName">Läs mer <span class="glyphicon glyphicon-play"></span></a>
        </footer>
     </article>
     @EndEach
    <div class="divider"></div>
</section>

@EndSection