		<footer>
			<nav>
				<ul>
					<li><header>Input</header></li>
					<li><a href="/nyheter">Nyheter</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="">Evenemang</a></li>
					<li><a href="/jobba-hos-oss">Jobba hos oss</a></li>
					<li><a href="/kontakta">Kontakta oss</a></li>
				</ul>
				<ul>
					<li><header>Sociala medier</header></li>
					<li><a href="">Twitter</a></li>
					<li><a href="">Facebook</a></li>
					<li><a href="">Linkedin</a></li>
				</ul>
				<ul>
					<li><header>Om företaget</header></li>
					<li><a href="">Årsredovisning</a></li>
					<li><a href="">Ekonomiskt bla bla</a></li>
				</ul>				
				<ul>
					<li><header>Partners</header></li>
					<li><a href="">Företaget A</a></li>
					<li><a href="">Företaget B</a></li>
					<li><a href="">Företaget C</a></li>
				</ul>
			</nav>
		</footer>
