<form action="/apply/for/a/job" method="post">

	<fieldset>
		<legend>Ansök direkt</legend>
		<label for="name">Förnamn</label>	
		<input type="text" name="name" placeholder="Förnamn">

		<label for="name">Efternamn</label>	
		<input type="text" name="surname" placeholder="Efternamn">

		<label for="email">E-Post</label>
		<input type="text" name="email" placeholder="E-Post">

		<label for="email">Telefon</label>
		<input type="text" name="phone" placeholder="Telefon">

		<label for="email">CV</label>
		<input type="file" name="resume" placeholder="CV">

		<label for="email">Beskrivning</label>
		<input type="text" name="description" placeholder="Beskrivning">

		<label for="email">LinkedIn profil</label>
		<input type="text" name="linkedin_profile" placeholder="LinkedIn profil">

		<label for="email">Twitter</label>
		<input type="text" name="twitter" placeholder="Twitter">

		<label for="email">Webbsida, Blogg eller portfolio</label>
		<input type="text" name="other" placeholder="Webbsida eller Blogg">

		<input type="submit" value="Skicka in">
	</fieldset>	

</form>
