        <nav class="menu">
           <section class="mobile">
                <a id="mobile-menu-action" href="#">&#9776;</a>
           </section>
            <section class="logo">
                <a href="/"><img src="@Path['~/static/img/logo.png']"></img></a>
            </section>
            <section class="desktop">
                <ul>
                    <li><a href="#">Om oss</a></li>
                    <li><a href="/nyheter">Nyheter</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/jobba-hos-oss">Jobba hos oss</a></li>
                    <li><a href="/kontakt">Kontakt</a></li>
                    <li><a href="/search">Sök</a></li>
                </ul>
            </section>
        </nav>