<section class="sales-hero">
  <article>
       <div class="avatar" style="background-image:url('@Model.Meta.BgImage')"></div>       
       <div class="profile">
            <div class="content">
               <div class="align">
                   <header>
                       <h1>@Model.Meta.Title</h1>
                   </header>
                   <p>@Section['Content']; </p>
               </div>
            </div>
       </div>
  </article>
  <nav class="close-sales-hero">
        <button type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
        </button>
  </nav>
</section>