<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="4.48.4489.28432" targetFramework="net45" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net45" />
  <package id="MarkdownSharp" version="1.13.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.0" targetFramework="net45" />
  <package id="Nancy" version="0.23.2" targetFramework="net45" />
  <package id="Nancy.Owin" version="0.23.2" targetFramework="net45" />
  <package id="Nancy.Viewengines.Markdown" version="0.23.2" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="SquishIt" version="0.9.6.1" targetFramework="net45" />
  <package id="YUICompressor.NET" version="2.0.0.0" targetFramework="net45" />
</packages>