<!doctype html>
<html lang="sv">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, shrink-to-fit=no, viewport-fit=cover">
  <title>{{ title }}</title>

  <meta name="robots" content="index,follow">
  <meta name="googlebot" content="index,follow">
  <meta name="description" content="Input Consulting Stockholm AB, en av Sveriges bästa arbetsplatser." />
  <meta name="author" content="Input Consulting" />
  <meta name="Copyright" content="Input Consulting" />
  <link href="/css/site.css?c={{cssHash}}" rel="stylesheet" /> 
  {% include "_layout/_includes/_app-insight.html" %}
</head>

<body>
  {% block body %}
  <div class="site-overlay"></div>
  {% include "_layout/_includes/_header.html" %} 
  {% include "_layout/_includes/_menu.html" %}
  <div id="container">
    {% block content %}{% endblock %}
  </div>
  {% endblock %}
  {% block footer %}
    {% include "_layout/_includes/_site-footer.html" %}
  {% endblock %}

  <script async defer type='text/javascript' src="https://maps.googleapis.com/maps/api/js?extension=.js&output=embed&key=AIzaSyDDxtJalq1cc0c3smsIOI8WxIBznDjO1HY"></script>
  <script async src="/js/site.js?c={{jsHash}}"></script>
</body>

</html>
