{% set title = title + ' - ' + page.title %}
{% extends "_layout/_master.html" %}

{% block body %}
<section class="jobs-article">

    <header class="jobs-article-header">
      <div class="page-header-navigation">
        <a class="page-navigation-link" href="/jobs"><span class="glyphicon glyphicon-th-list"></span> Mer jobb</a>
        <a href="/">
            <img src="/img/logo/logo_3.png" alt="">
        </a>
        <a class="page-navigation-link" href="/"><span class="glyphicon glyphicon-home"></span> Startsidan</a>
      </div>
    </header>

    <section class="jobs-article-body">
      <article>
          <h2>{{ page.title }}</h2>
          <blockquote>{{ page._meta.ingress }}</blockquote>
          {{ page.body | md }}
          <footer>
              <nav>
                  {% include "_layout/_includes/_share-article-linkedin.html" %}
                  {% include "_layout/_includes/_share-article-twitter.html" %}
                  {% include "_layout/_includes/_share-article-facebook.html" %}                        
              </nav>
          </footer>
      </article>
    </section>
    
</section>
{% endblock %}
