{% set title = title + ' - Lediga jobb ' %}
{% extends "_layout/_master.html" %}

{% block body %}

<section class="page-jobs">

    <header class="page-header">
      <a href="/">
          <img src="/img/logo/logo_3.png" alt="">
      </a>
    </header>

    <section class="page-content-jobs">
        <a class="page-navigation-link" href="/"><span class="glyphicon glyphicon-home"></span> Startsidan</a>
        <h3 class="job-list-header">Lediga jobb på Input</h3>
        <ul class="jobs-list">
          {% for page in pages %}
          <li class="jobs-list-item">
            <a class="jobs-list-item-link" href="{{ page.route }}">
              <h3>{{ page.title }}</h3>
              {% if page._meta.ingress %}
                <blockquote>{{ page._meta.ingress }}</blockquote>
              {% endif %}
              <strong class="button"> 
                <span>Läs mer</span>
              </strong>
            </a>
          </li>
          {% endfor  %}
        </ul>
    </section>

</section>

{% endblock %}
