{% set title = title + ' - Nyheter ' %}
{% extends "_layout/_master.html" %}

{% block body %}
<section class="news-list">

    <header class="news-list-header">
      <a href="/">
          <img src="/img/logo/logo_3.png" alt="">
      </a>
    </header>

    <section class="news-list-content">
        <h2>Aktuellt på Input</h2>
        <ul>        
          {% for page in pages %}
          <li>
            <a href="{{ page.route }}">
              <time>{{ page.date | date }}</time>
              <header>{{ page.title }}</header>
              {{ page.body | md | truncate(200, true, ' ...') }}
            </a>
            <footer>
                <a href="{{ page.route }}">Läs mer <span class="glyphicon glyphicon-play"></span></a>
            </footer>
          </li>
          {% endfor  %}
        </ul>
        <div class="divider"></div>
      </div>
    </section>

</section>
{% endblock %}
