{% set title = title + ' - Nyheter ' %}
{% extends "_layout/_master.html" %}

{% block body %}

<section class="news-page">

    <header class="news-page-header">
      <a href="/">
          <img src="/img/logo/logo_3.png" alt="">
      </a>
    </header>

    <section class="news-page-content">
        <a class="page-navigation-link" href="/"><span class="glyphicon glyphicon-home"></span> Startsidan</a>
        <h3>Aktuellt på Input</h3>
        <ul>        
          {% for page in pages %}
          <li>
            <a href="{{ page.route }}">
              <time>{{ page.date | date }}</time>
              <h3>{{ page.title }}</h3>
              {{ page.body | md | sanitize | truncate(300, true, ' ...') }}
            </a>
            <footer>
                <a href="{{ page.route }}">Läs mer <span class="glyphicon glyphicon-play"></span></a>
            </footer>
          </li>
          {% endfor  %}
        </ul>
        <div class="divider"></div>
      </div>
    </section>

</section>

{% endblock %}
