.sales-hero {

    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    z-index: 999;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;    

    article {

        height: 100% !important;
        width: 100% !important;
        color: #333333;
        margin: 0 !important;
        
        .avatar {
            width: 50%;
            display: block;
            position: absolute;
            left: 1.250em;
            top: 1.250em;
            height: 100%;
            padding: 0.625em;

            background-repeat: no-repeat;
            background-position: center center;
            background-size: auto 100%;
            display: none;
        }

        .profile {
            height: 100%;
            padding: 0 20px 0 1.563em;
            width: 100%;
            float: right;
            overflow-y: auto;

            .content {
                width: 99.9%;
                
                h1 {
                    font-size: 1.2rem;
                }

                &.content:before {
                  content: '';
                  display: inline-block;
                  height: 100%;
                  vertical-align: middle;
                  margin-left: -0.25em;                
                }

                .align {
                    display: inline-block;
                    vertical-align: middle;
                }
            }

        }
        
        h4 {
            color : @highlight-text-color;
        }
        
        p {
            font-size: 1em;
        }
    }
    
    nav {
        button {
            position: absolute;
            right: -0.063em;
            top: 0;

            display: block;
            height: 3.538em;
            width: 3.538em;
            background: #fff;
            border: solid 1px @highlight-text-color;
            border-right: none;
            border-top: none;
            padding-top: 0.438em;
            margin-right: 0;
            color: @highlight-text-color;        

            span {
                color:  @highlight-text-color !important;
            }
        }
    }
}


.sales-team {
    .make-row();
        
    .modal {
        
        padding: 0 !important;
        
        .modal-dialog {
          width: 100% !important;
          margin: 0px auto !important;
          height : 100%;
        }
    }
    
    article {
        
        .make-xs-column(6);
        .make-md-column(4);

        background-color: inherit;
                
        a {
            text-decoration: none;
            color: #fff;

            &:hover {
                color: @theme-color-5;
            }

            h2 {
                text-align: center;
                height: 1.5em;
                margin-top: -1.5em;
                position: relative;
                z-index: 1;

                &::after {
                  content: "";
                  background: #000;
                  opacity: 0.5;
                  top: 0;
                  left: 0;
                  bottom: 0;
                  right: 0;
                  position: absolute;
                  z-index: -1;   
                }

            }
        }
        
        img {
            max-width: 100%;
            width: 100%;
            border: 4px solid #2e2e2e;
        }
            
    }    
}

@media (min-width: 35em) {
    .sales-hero {
        article {
            .avatar {
                display: block;
            }
            .profile {
                width: 50%;
                
                .content {
                    h1 {
                        font-size: 6rem;
                    }
                }
                
            }
        }
    }
}
 
@media (min-width: 29em){
}
 
@media (min-width: 59em){
}
 
@media (min-width: 79em){
}