/* Import the standard bootstrap variables */
@import "../../../../bower_components/bootstrap/less/variables.less";

@base-header-background-color : #004494;

@border-radius-base : 2px;
@border-radius-large: 2px;
@border-radius-small: 2px;

/* Light => Dark */
@theme-color-1 : #E6E2AF;
@theme-color-2 : #BF8A49;
@theme-color-3 : #EFECCA;
@theme-color-4 : #046380;
@theme-color-5 : #002F2F;


@highlight-text-color :  #ff7f07;

@body-bg : @theme-color-1;


// buttons
@brand-primary: @base-header-background-color;


@font-path:          "../fonts/";
//@font-family-sans-serif:  "Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-sans-serif: "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif;

@font-size-base: 12px;
//@font-size-base: 2em; 
