/* Import the standard bootstrap variables */
@import "../../../../bower_components/bootstrap/less/variables.less";

@base-header-background-color : #004494;

@border-radius-base : 2px;
@border-radius-large: 2px;
@border-radius-small: 2px;


@theme-color-5 : #488766;
@theme-color-4 : #FDEEA8;
@theme-color-3 : #FDAF48;
@theme-color-2 : #8C290C;
@theme-color-1 : #B4492C;

@body-bg : @theme-color-4;


// buttons
@brand-primary: @base-header-background-color;


@font-path:          "../fonts/";
//@font-family-sans-serif:  "Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-sans-serif: "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif;

@font-size-base: 14px;
//@font-size-base: 2em; 
