<section class="input-news">
    <section class="container with award">
        <a href="nyheter/2017/03/29/Input-en-av-Sveriges-basta-arbetsplatser">
             <img src="/static/img/awards/gptw_2017.png" alt="">
        </a>
    </section>

    <section class="container with news">
        @Each.Model.Meta.LatestNews
            <a href="/nyheter">
               <div class="news-item">
                    <h5>@Current.FriendlyDate</h5>
                    <h4>@Current.Title</h4>
                    @Current.Abstract
                </div>
            </a>        
         @EndEach       
    </section>
</section>