<section class="contact-us" id="contact">
   
    <section class="container">
        <article>
            <header>kontakta oss</header>
            <div id="map-canvas"></div>
            <div class="divider"></div>
        </article>
    </section>

    <div class="container">
        <div class="col-sm-9 pull-left">
            <a href="https://www.linkedin.com/company/input-consulting-stockholm-ab" target="_blank">
               <img src="/static/img/social/li.png" alt="Linkedin">
            </a>
        </div>
        <div class="col-sm-3 pull-right">
            <address>
               <span id="map-input">
                Input Consulting Stockholm AB<br>
                Kungsgatan 62<br>
                111 22 Stockholm</span><br>
                +46 (8) 700 00 80
            </address>
            <address>
                <strong>E-Post</strong><br>
                <a href="mailto:info@input-consulting.se">info@input-consulting.se</a>
            </address>
        </div>
    </div>
    
</section>