html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

body {
    font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.42857143;
    -webkit-font-smoothing: antialiased;
    
    color: #333;
    background-color: #0284a6
}

a:focus { 
    border: none;
    outline: none;
}

.full-page {
    padding-top: 0;
}

.row {
  margin-left:0px;
  margin-right:0px;
}

/* Wrapper for page content to push down footer */
#input-site {
  min-height: 100%;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

#input-site > .container {
  padding: 60px 15px 0;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
  margin-top:50px;
  padding-top:20px;
  padding-bottom:20px;
}

#map-canvas {
  	width: 100%; 
  	height: 300px;
	margin: 0;
	padding: 15px;
}

.container .credit {
  margin: 20px 0;
}

article {
    font-size: 1.5em;
    font-weight: 400;
    
    header {
        font-size: 2.5em;
        font-weight: 600;
        text-transform: uppercase;
        text-align: left;
        margin-bottom: 20px;
    }

    nav {
        
        div {
            
            .thumbnail {
                width: 220px;
                height: 220px;
                                                
                &.thumbnail:hover {
                    border-width: 10px;
                    border-color: #2e2e2e;
                }
                
                h3 {
                    font-size: 16px;
                }
            }
                    
            a {
                color :#333333;
                
                &:hover {
                    color : #333333;
                    text-decoration: none;
                }
            }
        }
        
    }

}

/* Since positioning the image, we need to help out the caption */
/* Declare heights because of positioning of img element */
#input-header {
    position: relative;
    height: 260px;
    
    &.item {
        background-color:#bbb;
    }
            
    img {
      position: absolute;
      top: 4px;
      right: 4px;
      max-width: 90%;
    }
    
    blockquote {
        font-size: 12px;
        border: 0;
        padding : 40px 17px;
        
        &::after {
            content: "";
            background: #0284a6;
            opacity: 0.5;
            top: 50px;
            left: 0;
            bottom: 10px;
            right: 0;
            position: absolute;
            z-index: -1;       
        }
    }
}

@media (min-width: 49em) {
    #input-header {
        height: 600px;
        
        blockquote {
            font-size: 16px;
            padding : 8.5px 17px;
            
            &::after {
              content: "";
              background: $theme-color-1;
              opacity: 0.5;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              position: absolute;
              z-index: -1;   
            }
        }
    }
}

.header-caption {
    position: absolute;
    left: 1%;
    right: 1%;
    bottom: 0px;
    top: 4px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);    
}


@media (min-width: 31em) {
    .header-caption {
        left: 45%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (min-width: 49em) {
    .header-caption {
        left: 45%;
        right: 10%;
        bottom: 20px;        
        top: auto;
    }
}


section {
    margin : 0;
    padding: 0;
    height: auto;
    padding-top:30px;    
}

header {
    &.hendrik {
        background: url('/img/hendrik-header.jpg'); 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;        
    }
}

@media (min-width: 19em) {
    background-position : top;
}

.team-input-1 {
	background: url('/img/team-input-2.jpg'); 
    -webkit-background-size: cover; 
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 20%;
    min-height: 200px;
    
}
.team-input-2 {
	background: url('/img/team-input-4.jpg');
    -webkit-background-size: cover; 
  	-moz-background-size: cover;
  	-o-background-size: cover;
    background-position: 50% 20%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 200px;
    
}
.team-input-3 {
	background: url('/img/team-input-3.jpg'); 
    -webkit-background-size: cover; 
  	-moz-background-size: cover;
  	-o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 20%;
    min-height: 200px;
}

@media (min-width: 49em) {
    .team-input-1,
    .team-input-2,
    .team-input-3 {
        display: block;
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 500px;
    }
}


.gotham {
    font-family: 'Gotham A', 'Gotham B', sans-serif;
    font-weight: 500
}

.gotham-rounded {
    font-family: 'Gotham Rounded A', 'Gotham Rounded B';
    font-weight: 300
}

.social-media {

    a {
        margin-right: 10px;    
    }

}